body {
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
}

.header {
  display: flex; /* Enables flexbox layout */
  align-items: flex-start; /* Aligns items to the start of the flex container */
  justify-content: space-between; /* Spaces out the children (text and large image) */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #232B35;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: white;
  z-index: 1000; /* Ensure the header appears on top of other content */
  position: relative; /* Ensures the header has a positioning context */
}

.container {
  padding-left: 20px;
  padding-bottom: 20px;
  overflow-y: hidden;
  background-color: white;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;

}

.footer {
  background-color: #232B35;
  color: white;
  padding: 20px;
  text-align: center;
  bottom: 0;
  width: 100%;
  z-index: 1000; /* Ensure the footer appears on top of other content */
  font-family: Arial, Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
}

a:visited {
  color: inherit;
}

.button {
  background-color: #171C23;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.form-container {
  padding: 20px;
}

.form-container label,
.form-container input,
.form-container select {
  display: block;
  margin-bottom: 10px;
}

.form-container input,
.form-container select {
  width: 300px;
  padding-top: 0;
padding-left: 0;
}

.info-table {
  width: 100%;
  border-collapse: collapse;
}
.info-table td, .info-table th {
  text-align: left;
  padding: 8px;
  border-bottom: 1px solid black; /* Black lines */
}
.info-table .label {
  font-weight: bold;
  width: 100px;
}
/* Remove the border for the last row */
.info-table tr:last-child td {
  border-bottom: none;
}

.image-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px; /* Adjust spacing between images */
}

.image-container img {
  max-width: 100px; /* Ensure images fit within their containers */
  height: auto;
}

.header img {
  display: block;
}

.info {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

.label {
  font-weight: bold;
  /* Set a minimum width to ensure alignment of all values */
  min-width: 150px; /* Adjust based on the longest label */
  margin-right: 10px; /* Space between label and value */
}

.value {
  font-weight: normal;
}

.header .text-container {
  /* If you need specific styling for the text container, add here */
}

.large-image {
  max-width: 300px;
  height: auto;
  position: absolute; /* Positioned absolutely within .header */
  right: 100px; /* Adjust as needed, positions image from the right edge of .header */
  top: 50px; /* Adjust as needed, positions image from the top edge of .header */
}

.table-cell {
  text-align: left;
  padding-right: 20px;
}

.table-header {
  font-weight: bold;
  text-align: left;
  padding-bottom: 5px;
}

.emphasis {
  font-weight: bold; /* Makes the text bold, similar to <strong> */
  /* Additional styling can be added here, such as font-size, color, etc. */
}

.line {
  border-top: 2px solid black; /* Creates a line at the top of the div */
  margin: 20px 0; /* Space above and below the div */
}

.line_sub {
  border-top: 1px solid grey; /* Creates a line at the top of the div */
  margin: 20px 0; /* Space above and below the div */
}

.image-container {
  margin-bottom: 50px; /* Adjust the value as needed */
}

